:root {
--cyan: #d6fff6;
--violet: #231561;
--turqoise: #4dccbd;
--blue: #2374ab;
--coral: #ff8484;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

hr {
    clear:both;
    display:block;
    width: 100%;               
  }

header {
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-color: var(--coral);
}

header h1 {
    margin-right: 5px;
    margin-bottom: 5px;
}

.nameL {
    background-color: var(--cyan);
    width: fit-content;
    padding-left: 25px;
    padding-right: 5px;
    align-items: center;
    border: 1px solid black;
}

#navSec a {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 10px;
    background-color: var(--cyan);
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#aboutMe {
    display: flex;
    padding: 2%;
    align-items: center;
}

#aboutMe h2  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutMe img {
    height: 250px;
    padding-right: 2%;
} 

#workBig img {
    /* height: 300px;
    margin: 10px;
    border: 5px solid var(--cyan);
    display: flex;
    justify-content: center;
    align-items: center; */
}

#workBig img:hover {
    box-shadow: 8px 2px 5px var(--cyan);
}

/* footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--coral);
    color: white;
} */

@media screen and (max-width:280px) {
    #navSec a {
        padding: 0;
        margin-right: 5px
    }

    header h1   {
        margin-bottom: 2px;
    }
}


@media screen and (max-width:400px) {
   #aboutMe img {
    height: 100px;
   }
   
}

@media screen and (max-width:720px) {
    #aboutMe img {
    height: 100px;
    }    
}

