:root {
--cyan: #d6fff6;
--violet: #231561;
--turqoise: #4dccbd;
--blue: #2374ab;
--coral: #ff8484;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

hr {
    clear:both;
    display:block;
    width: 96%;               
    background-color:#FFFF00;
    height: 1px;
  }

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-color: var(--coral);
    position: relative;
}

header h1 {
    margin-right: 5px;
    margin-bottom: 5px;
}

.nameL {
    background-color: var(--cyan);
    width: fit-content;
    padding-left: 25px;
    padding-right: 5px;
    font-weight: bold;
    align-items: center;
    border: 1px solid black;
}

#navSec a {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--cyan);
    list-style-type: none;
    width: fit-content;
    padding: 2px;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#aboutMe div {
    padding-left: 5%;
    padding-right: 5%;
}

#aboutMe h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

#aboutMe img {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    height: 250px;
    width: auto;
}


/* footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--coral);
    color: white;
} */
